<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/main.css">
    <title>Check24 Tech task</title>
</head>
<body>
    <header>
        <div id="blog-logo">
            <span>BlogLogo&Link</span>
        </div>
        <div id="blog-name">
            <a href="#">Blog Name</a>
        </div>
    </header>
    <div id="navigation">
        <nav>
            <a href="#">Übersicht</a>
            {% if (isUserLogged) %}
                <a href="#">[Neuer Eintag]</a>
            {% endif %}
            <a href="#">Impressum</a>
        </nav>
        {% if (isUserLogged) %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </div>
    <main>
        {% for article in articles %}
            <div>
                <p>{{article.id}}</p>
            </div>
        {% else %}
            <p>No articles</p>
        {% endfor %}
    </main>
</body>
</html>